$loginBackground : #e0e0e0;
$whiteColor: white;
$blueColor : #206fc9!important;
$lightBlue:  #e8edff !important;
$lightGrayColor : #7e7e7e;
$darkGrayColor : #666666!important;
$blackColor : #000;
$borderColor : #c2c2c2;
$linearGradient: linear-gradient(to right, #206fc9 , #086ee3);

// Icons


